.sobreMim{
padding: 40px 80px;
}

.titulo-sobre{
font-family:'BlackMango';
font-size:70px;
}

.subtitulo{
font-size:22px;
margin-bottom:50px;
color:#ffffff;
font-weight: 100;
}

.sobre-container{
display:flex;
gap:120px;
margin-bottom:20px;
}

.coluna-esquerda{
max-width:600px;
}

.coluna-direita{
max-width:500px;
}

h2{
font-family:'BlackMango';
font-size:40px;
margin-bottom:20px;
margin-top:40px;
color:#ffffff !important;
}

.bloco-cursos{
max-width:800px;
}

.lista{
list-style:none;
padding:0;
color:#ffffff;
}

.lista li{
margin-bottom:20px;
font-size:20px;
line-height:1.6;
}

.obs{
font-size:16px;
margin-top:10px;
color:#e2e2e2;
font-style:italic;
}